/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff9ed;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff9ed;
    color: rgb(75, 11, 11);
    overflow-x: hidden;
}

/* Cabeçalho com sombra */
header {
    height: 130px;
    position: relative;
    background-color: #ffc4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ícone de Menu */
.menu-icon {
    display: none;
}

/* Container das logos */
.logo-container {
    display: flex;
    align-items: center;
}

/* Primeira Logo */
.primeira-logo {
    margin-right: 20px;
    transform: translate( 60%, 40%);
}

/* Segunda Logo */
.segunda-logo {
    transform: translate( 40%, 80%);
}

/* Navegação */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color:  rgb(75, 11, 11);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 40px !important;
}

nav ul li a:hover {
    color: #ff8c8c;
}

nav ul li a:hover {
    color: #ff8c8c;
}
/* Carrinho de Compras */
.carrinho-container {
    margin-left: auto; /* Move o carrinho para o lado direito */
}

.carrinho-container img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

/* Toldo */
.toldo {
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
}

.toldo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Formulário */
.formulario {
    margin-top: 150px;
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 1px solid #ccc;
    background-color: #faefd6;
    color: rgb(75, 11, 11);
}

form button {
    background-color: #ffc4c4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff8c8c;
}

/* Informações de Contato */
.info-container {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

.info-container iframe {
    margin-top: 20px;
    width: 100%;
    height: 450px;
}

/* Rodapé */
.footer {
    background-color: #ffc4c4;
    color: rgb(75, 11, 11);
    text-align: center;
    padding: 20px;
    position: re;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #fff9ed;
        overflow-x: hidden; /* Evita rolagem horizontal */
    }

    .toldo {
        width: 1000px;
        position: relative;
        z-index: 5;
    }

    .primeira-logo {
        margin-right: 20px;
        transform: translate( -40%, 30%);
    }
    
    /* Segunda Logo */
    .segunda-logo {
        transform: translate( -40%, 80%);
    }
    .menu-icon {
        visibility: visible;
    }
    /* Ícone de menu visível */
    .menu-icon {
        display: block;
    }

    /* Esconde o menu por padrão */
    nav {
        display: none;
        flex-direction: column;
        width: 250px;
        background-color: #ffc4c4;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px;
        z-index: 100;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    }

    /* Mostra o menu quando ativo */
    nav.active {
        display: flex;
    }

    /* Botão X para fechar o menu */
    .close-menu {
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        text-align: right;
        margin-bottom: 20px;
        color: #000;
    }

    /* Lista de links no menu */
    .menu-list {
        list-style: none;
        padding: 0;
    }

    .menu-list li {
        z-index: 20;
        margin-bottom: 10px;
    }

    .menu-list li a {
        display: block;
        padding: 8px;
        background-color: #fff9ed;
        color: #000;
        text-align: center;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 20px !important;
    }

    .menu-list li a:hover {
        position: absolute;
        z-index: 20;
        background-color: #ff8c8c;
        color: #fff;
    }

    /* Carrinho no menu responsivo */
    .carrinho-container {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 582px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #fff9ed;
        overflow-x: hidden; /* Evita rolagem horizontal */
    }
    .toldo {
        width: 1000px;
        position: relative;
        z-index: 5;
    }

    .primeira-logo {
        margin-right: 20px;
        transform: translate( 20%, 40%);
    }
    
    /* Segunda Logo */
    .segunda-logo {
        transform: translate( 0%, 80%);
    }
    .menu-icon {
        visibility: visible;
    }
    /* Ícone de menu visível */
    .menu-icon {
        display: block;
    }

    /* Esconde o menu por padrão */
    nav {
        display: none;
        flex-direction: column;
        width: 250px;
        background-color: #ffc4c4;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 10px;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
        z-index: 9999 !important;
    }

    /* Mostra o menu quando ativo */
    nav.active {
        display: flex;
    }

    /* Botão X para fechar o menu */
    .close-menu {
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        text-align: right;
        margin-bottom: 20px;
        color: #000;
        z-index: 10002;
    }

    /* Lista de links no menu */
    .menu-list {
        list-style: none;
        padding: 0;
        z-index: 10001;
    }

    .menu-list li {
        margin-bottom: 15px;
    }

    .menu-list li a {
        display: block;
        padding: 5px;
        background-color: #fff9ed;
        color: #000;
        text-align: center;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 20px !important;
    }

    .menu-list li a:hover {
        background-color: #ff8c8c;
        color: #fff;
    }

    /* Carrinho no menu responsivo */
    .carrinho-container {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {

    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #fff9ed;
        overflow-x: hidden; /* Evita rolagem horizontal */
    }
    header {
        height: 75px;
        position: relative;
        background-color: #ffc4c4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        z-index: 10;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .toldo {
        width: 1000px;
        position: relative;
        z-index: 5;
    }

    .primeira-logo {
        width: 120px;
        margin-right: 20px;
        transform: translate( 0%, 30%);
    }
    
    /* Segunda Logo */
    .segunda-logo {
        width: 160px;
        transform: translate( 10%, 70%);

    }
    /* Ícone de menu visível */
    .menu-icon {
        visibility: visible;
    }
    .menu-icon {
        transform: translate( 20%, 20%);
        display: block;
    }

    /* Esconde o menu por padrão */
    nav {
        display: none;
        flex-direction: column;
        width: 250px;
        background-color: #ffc4c4;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px;
        z-index: 25;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    }

    /* Mostra o menu quando ativo */
    nav.active {
        display: flex;
    }

    /* Botão X para fechar o menu */
    .close-menu {
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        text-align: right;
        margin-bottom: 20px;
        color: #000;
    }

    /* Lista de links no menu */
    .menu-list {
        list-style: none;
        padding: 0;
    }

    .menu-list li {
        margin-bottom: 15px;
    }

    .menu-list li a {
        display: block;
        padding: 10px;
        background-color: #fff9ed;
        color: #000;
        text-align: center;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 20px !important;
    }

    .menu-list li a:hover {
        background-color: #ff8c8c;
        color: #fff;
    }

    /* Carrinho no menu responsivo */
    .carrinho-container {
        margin-left: 0;
        margin-top: 20px;
    }
}
